*{    
    margin: 2px auto;
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    }
    
    body{
        background-color: rgba(107, 167, 152, 0.699);
        background: url(./images/backgrnd\ photo\ main.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .card{
        width: 90%;
        max-width: 550px;
        background: linear-gradient(150deg, #09f03bea, #03062be0);
        color: #06f72e;
        margin: 100px, auto 0;
        border-radius: 15px;
        font-size: 20px;
        padding: 20px;
        text-align: center;
        /* background-image: url(./images/sky.png); */
        /* background-repeat: no-repeat; */
        background-size:cover;
        
        
    }
    .search{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search input{
    border: 0;
    outline: 0;
    background: #e3e9e8;
    color: #2e2929;
    padding: 5px;
    height:25px;
    border-radius: 10px;
    flex: 1;
    margin-right: 15px;
    font-size: 12px;
    }
    
    /* .search button{
        border: 0;
        outline: 0;
        background: #40efd5;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        cursor:pointer;
    } */
     
    .button-35 {
      /* padding: 12px 26px; */
      border: 0;
      /* font-size: 16px; */
      transition: all 150ms ease-in-out;
    
      border-radius: 50%;
      width: 60px;
      height: 60px;
      /* border: 1px solid #f81d00; */
      box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.07) 0 1px 1px, rgba(0, 0, 0, 0.07) 0 2px 2px, rgba(0, 0, 0, 0.07) 0 4px 4px;
      color: #000000;
      font-weight: 600;
      background-image: linear-gradient(180deg, #f72004f1 0%, #f8cb00 100%);
      text-shadow: -1px 0 1px #B4E84E, 0 1px 1px #B4E84E, 1px 0 1px #B4E84E, 0 -1px 1px #B4E84E;
    }
    
    .button-35:hover {
      filter: brightness(1.2);
    }
    
    .button-35:active {
      transform: scale(.9);
    }
    
    .search button img{
        width: 40px;
    }
    .weather{
        width: 500px;
        height: 500px;
    }
    .weather-icon{
        width: 100px;
        height: 100px;
        /* margin-top: 0px; */
    }
    .weather h1{
        font-size: 50px;
        font-weight: 500;
    }
    .weather h2{
        font-size: 30px;
        font-weight: 400;
        margin-top: 0;
        color: #e2e608;
    }
    .weather h3{
        color: #ffffffec;
    }
    .details{
        clear: both;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 10px;
    }
    .col{
        display: flex;
        align-items: center;
        text-align:left;
    }
    .col img{
        width: 40px;
        margin-right: 10px;
    }
    .humidity .wind{
    color: #c50b0b;
    font-size: 15px;
    margin-top: 6px;
    
    }
    .lastDiv{
        color: #ffffffd5;
    }
    .weather{
        display: none;
    }
    h4{
        color:rgb(206, 241, 6);
    }
    .dtime{
        display: flex;
        margin-top: 30px;
    }